<ion-header>
  <ion-toolbar>
    <ion-title>Página de Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/login">
      <ion-label>Login</ion-label>
    </ion-item>
    <ion-item routerLink="/players">
      <ion-label>Jugadores</ion-label>
    </ion-item>
    <ion-item routerLink="/teams">
      <ion-label>Equipos</ion-label>
    </ion-item>
    <ion-item routerLink="/add-player">
      <ion-label>Agregar Jugador</ion-label>
    </ion-item>
    <ion-item routerLink="/add-team">
      <ion-label>Agregar Equipo</ion-label>
    </ion-item>
    <ion-item routerLink="/image-search">
      <ion-label>Busqueda Imagenes</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
